USE [master]
GO
/****** Object:  Database [BoVoyageV2]    Script Date: 15/06/2018 16:47:41 ******/
CREATE DATABASE [BoVoyageV2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BoVoyageV2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BoVoyageV2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BoVoyageV2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BoVoyageV2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BoVoyageV2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BoVoyageV2]
GO
USE [BoVoyageV2]
GO
/****** Object:  Table [dbo].[AgenceVoyage]    Script Date: 15/06/2018 16:47:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgenceVoyage](
	[IdAgenceVoyage] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](50) NOT NULL,
 CONSTRAINT [PK_AgenceVoyage] PRIMARY KEY CLUSTERED 
(
	[IdAgenceVoyage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssuranceAnnulation]    Script Date: 15/06/2018 16:47:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssuranceAnnulation](
	[IdAssuranceAnnulation] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_AssuranceAnnulation] PRIMARY KEY CLUSTERED 
(
	[IdAssuranceAnnulation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assurances]    Script Date: 15/06/2018 16:47:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assurances](
	[IdAssurance] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Assurance] PRIMARY KEY CLUSTERED 
(
	[IdAssurance] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 15/06/2018 16:47:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[IdClients] [int] IDENTITY(1,1) NOT NULL,
	[Civilite] [varchar](50) NOT NULL,
	[Nom] [varchar](50) NOT NULL,
	[Prenom] [varchar](50) NOT NULL,
	[Adresse] [varchar](50) NOT NULL,
	[Telephone] [varchar](50) NOT NULL,
	[DateNaissance] [datetime] NOT NULL,
	[Age] [int] NULL,
	[Email] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[IdClients] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Destinations]    Script Date: 15/06/2018 16:47:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Destinations](
	[IdDestination] [int] IDENTITY(1,1) NOT NULL,
	[Continent] [varchar](50) NOT NULL,
	[Pays] [varchar](50) NOT NULL,
	[Region] [varchar](50) NOT NULL,
	[Description] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Destination] PRIMARY KEY CLUSTERED 
(
	[IdDestination] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DossiersReservation]    Script Date: 15/06/2018 16:47:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DossiersReservation](
	[IdNumeroUnique] [int] IDENTITY(1,1) NOT NULL,
	[NumeroCarteBancaire] [varchar](50) NOT NULL,
	[PrixTotal] [decimal](18, 0) NOT NULL,
	[IdClient] [int] NOT NULL,
	[IdVoyage] [int] NOT NULL,
	[NombreParticipant] [int] NOT NULL,
	[Assurance] [bit] NOT NULL,
 CONSTRAINT [PK_DossiersReservation] PRIMARY KEY CLUSTERED 
(
	[IdNumeroUnique] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Participants]    Script Date: 15/06/2018 16:47:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participants](
	[IdNumeroUnique] [int] IDENTITY(1,1) NOT NULL,
	[Civilite] [varchar](50) NOT NULL,
	[Nom] [varchar](50) NOT NULL,
	[Prenom] [varchar](50) NOT NULL,
	[Adresse] [varchar](50) NOT NULL,
	[Telephone] [varchar](50) NOT NULL,
	[DateNaissance] [datetime] NOT NULL,
	[Age] [int] NULL,
	[Reduction] [float] NULL,
	[IdDossierReservation] [int] NOT NULL,
 CONSTRAINT [PK_Participants] PRIMARY KEY CLUSTERED 
(
	[IdNumeroUnique] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voyages]    Script Date: 15/06/2018 16:47:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voyages](
	[IdVoyage] [int] IDENTITY(1,1) NOT NULL,
	[DateAller] [datetime] NOT NULL,
	[DateRetour] [datetime] NOT NULL,
	[PlacesDisponibles] [int] NOT NULL,
	[TarifToutCompris] [decimal](18, 0) NOT NULL,
	[IdDestination] [int] NOT NULL,
	[IdAgenceVoyage] [int] NOT NULL,
 CONSTRAINT [PK_Voyages] PRIMARY KEY CLUSTERED 
(
	[IdVoyage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Assurances]  WITH CHECK ADD  CONSTRAINT [FK_Assurances_AssuranceAnnulation] FOREIGN KEY([IdAssurance])
REFERENCES [dbo].[AssuranceAnnulation] ([IdAssuranceAnnulation])
GO
ALTER TABLE [dbo].[Assurances] CHECK CONSTRAINT [FK_Assurances_AssuranceAnnulation]
GO
ALTER TABLE [dbo].[DossiersReservation]  WITH CHECK ADD  CONSTRAINT [FK_DossiersReservation_Clients] FOREIGN KEY([IdClient])
REFERENCES [dbo].[Clients] ([IdClients])
GO
ALTER TABLE [dbo].[DossiersReservation] CHECK CONSTRAINT [FK_DossiersReservation_Clients]
GO
ALTER TABLE [dbo].[DossiersReservation]  WITH CHECK ADD  CONSTRAINT [FK_DossiersReservation_Voyages] FOREIGN KEY([IdVoyage])
REFERENCES [dbo].[Voyages] ([IdVoyage])
GO
ALTER TABLE [dbo].[DossiersReservation] CHECK CONSTRAINT [FK_DossiersReservation_Voyages]
GO
ALTER TABLE [dbo].[Voyages]  WITH CHECK ADD  CONSTRAINT [FK_Voyages_AgenceVoyage] FOREIGN KEY([IdAgenceVoyage])
REFERENCES [dbo].[AgenceVoyage] ([IdAgenceVoyage])
GO
ALTER TABLE [dbo].[Voyages] CHECK CONSTRAINT [FK_Voyages_AgenceVoyage]
GO
ALTER TABLE [dbo].[Voyages]  WITH CHECK ADD  CONSTRAINT [FK_Voyages_Destinations] FOREIGN KEY([IdDestination])
REFERENCES [dbo].[Destinations] ([IdDestination])
GO
ALTER TABLE [dbo].[Voyages] CHECK CONSTRAINT [FK_Voyages_Destinations]
GO
USE [master]
GO
